# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

database
mysql_docker_database
release
node_modules
dist

# Editor directories and files
# .vscode/*
.idea/*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
